* {
    margin: 0;
    padding: 0;  
}
header, main, aside, footer, nav{
    display: block;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}
header{    
    background-color: darkgray;
    height: 192px;
}
header.layout2{
    width: 1400px;
}
header>img{
    position: relative;
    height: 80px;
    width: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    background: none;
}
nav{
    background-color: black;
    height: 60px;
}
nav.layout2{
    height: 758px;
    width: 150px;
}
nav>ul{
    display: flex;
    margin: 0px auto;
    width: 1000px;
    text-decoration: none;  
}
nav.layout2>ul{
    margin: 0px;
    width: 150px;
    flex-wrap: wrap;
    color: white;
}
nav>ul>li{
    width: 230px;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
    text-decoration: none;
}
nav.layout2>ul>li{
    margin: 0px;
    width: 150px;
    height: 55px;
    flex-wrap: wrap;
}
nav>ul>li>a{
    position: relative;
    text-decoration: none;
    color: white;
    top: 15px;
    left: 80px;
}
nav.layout2>ul>li>a{
    top: 20px;
    left: 5px;
}
nav>ul>li>a:hover{
    color: orange;
}
#selected{
    background-color: blue;
}
#wrapper{
    width: 1000px;
    margin: 0px auto;
    display: flex;
}
main{
    /*background-color:orange;*/
    margin-left: 0px;
    width: 750px;
}
main.layout2{
    width: 600px;
}
main>section.red_square{
    display: flex;
    flex-wrap: wrap;
    width: 275px;
    height: 275px;
    /*background-color: blue;*/
}
main.layout2>section{
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 758px;
    /*background-color: chocolate;*/
}
main.layout2>section>div{
    margin-top: 20px;
    margin-left: 10px;
    width: 265px;
    height: 100px;
    background-color: green;
}
#layout2-a{
    height: 320px;
}
#layout2-b{
    height: 250px;
}
#layout2-c{
    height: 412px;
}
#layout2-d{
    height: 270px;
    margin-top: -50px;
}
#top-left{
    margin-left:15px;
    margin-top: 0px;
}
#bot-right{
    margin-left: 480px;
    margin-top: 150px;
}
main>section.red_square>div{
    width: 100px;
    height: 100px;
    margin-top:25px;
    margin-left:25px;
    background-color: red;
}
aside{
    display: flex;
    background-color: grey;
    width: 250px;
}
aside.layout2{
    align-items: flex-end;
    background-color: lightgray;
}
aside>section.red_square{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    justify-content:space-between;
}
.layout2-left{
    margin-top: 30px;
}
aside>section.red_square>div{
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: green;
}
aside>div.malben{
    position: relative;
    top: 175px;
    left: 60px;
    width: 175px;
    height: 80px;
    background-color: red; 
}
footer{    
    background-color: darkgray;
    height: 50px;
    margin-bottom: 0px;
}
footer.layout2{
    /*background-color: blue;*/
    position:fixed;
    top: 950px;
    left: 50%;
    margin-left: -700px;
    width: 1400px;

}

