/* GENERAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
* {
    margin: 0;
    padding: 0;  
}
header, main, aside, footer, nav{
    display: block;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 1000px;
    margin: 0px auto;
    display: flex;
}
.wrapper_block{
    width: 1000px;
    margin: 0px auto;
    display: block;
}
section.squares{
    display: flex;
    flex-wrap: wrap;
    width: 235px;
    height: 235px;
    /*background-color: purple;*/
    justify-content: space-between;
    align-content: space-between;
}
section.squares>div{
    width: 100px;
    height: 100px;
}
/* HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header{    
    background-color: darkgray;
    height: 192px;
}
header.layout2{
    width: 1400px;
}
header>a>img{
    position: relative;
    height: 80px;
    width: 80px;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    background: none;
}
/* NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
nav{
    background-color: black;
    height: 60px;
}
nav.layout2{
    height: 758px;
}
nav>ul{
    align-items: center;
    list-style: none;
}
nav.layout1>ul{
    display: flex;
    padding-left: 80px;
    height: 60px;
}
nav.layout2>ul{
    width: 150px;
}
nav.layout3>ul{
    display: flex;
    justify-content: center;
    height: 60px;
}
nav.layout1>ul>li{
    width: 235px;
    height: 40px;
    text-align: center;
}
nav.layout2>ul>li{
    height: 55px;
}
nav.layout3>ul>li{
    text-align: center;
    height: 60px;
    width: 215px;
}
nav>ul>li>a{
    position: relative;
    top: 12px;
    text-decoration: none;
    color: white;
}
nav.layout3>ul>li>a{
    top: 22px;
}
nav.layout2>ul>li>a{
    top: 20px;
    left: 5px;
}
nav>ul>li>a:hover{
    color: orange;
}
#selected{
    background-color: blue;
}
/* MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main{
    /*background-color:orange;*/
    display: flex;
}
main.layout1{
    width: 750px;
    height: 697px;
    justify-content: space-between;
}
main.layout2{
    width: 250px;
    height: 758px;
    align-items: flex-end;
    justify-content: center;
    background-color: lightgrey;
}
main.layout3{
    display: flex;
    flex-wrap: wrap;
}
#top-left{
    margin-left: 40px;
    margin-top: 25px;
}
#bot-right{
    align-self: flex-end;
    margin-right: 25px;
    margin-bottom: 25px;
}
#bot{
    margin-bottom: 10px;
}
main.layout1>section>div{
    background-color: red;
}
main.layout2>section>div{
    background-color: green;
}
main.layout3>div{
    height: 350px;
    width: 333.333px;
}
main.layout3>div>img.star{
    position: relative;
    height: 50px;
    width: 50px;
    left: 275px;
    top: 5px;
    background: none;
}
main.layout3>div.clicked>img.star{
    position: relative;
    height: 0px;
    width: 0px;
    left: 275px;
    top: 5px;
    background: none;
}
main.layout3>div>img.strawberry{
    position: relative;
    height: 0px;
    width: 0px;
    left: 0px;
    top: 0px;
    background: none;
}
main.layout3>div.clicked>img.strawberry{
    position: relative;
    height: 350px;
    width: 333.333px;
    left: 0px;
    top: 0px;
    background: white; 
}
#plus{
    position: relative;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    background: none;
}
/* ASIDE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
aside.layout1{
    width: 250px;
    background-color: grey;
    display: flex;
}
aside.layout2{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}
aside.layout1>div{
    position: relative;
    top: 175px;
    left: 60px;
    width: 175px;
    height: 80px;
    background-color: red; 
}
aside.layout2>div{
    margin-top: 20px;
    margin-left: 15px;
    background-color: green;
    width: 270px;
}
#layout2-a{
    height: 320px;
}
#layout2-b{
    height: 250px;
}
#layout2-c{
    height: 412px;
}
#layout2-d{
    height: 365px;
    margin-top: -50px;
}
/* FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer{    
    background-color: darkgray;
    height: 50px;
    margin-bottom: 0px;
}
footer.layout2{
    /*background-color: blue;*/
    position:fixed;
    top: 950px;
    left: 50%;
    margin-left: -700px;
    width: 1400px;

}
#scroll{
    padding-top: 1px;
    width: 100%;
    height: 500px;
    background-color:white;
}
/*RESPONSIVE*/
@media only screen and (max-width:480px) {
    .wrapper_block{
        width: 100%;
    }
    nav.layout3>ul.wrapper{
        width:100%;
    }
    nav.layout3>ul>li{
        width: 33%;
    }
}
@media only screen and (min-width:481px) and (max-width:645px) {
    .wrapper_block{
        width: 100%;
    }
    nav.layout3>ul.wrapper{
        width:100%;
    }
    nav.layout3>ul>li{
        width: 33%;
    }
}
@media only screen and (min-width:646px) and (max-width:999px) {
    .wrapper_block{
        width: 100%;
    }
    nav.layout3>ul.wrapper{
        width:100%;
    }
}
@media only screen and (min-width:1000px) {
}